In [1]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from math import log, sqrt
import pandas as pd
import numpy as np
import re
%matplotlib inline

In [2]:
mails = pd.read_csv('spamfinal.csv', encoding = 'latin-1')
mails.head()

,Unnamed: 0,Category,Message,Emoji,Mathemtical symbols,URL,shorthands,Dot,length,capitals,Num_Phone,Special characters,word_count,mis_spell
0,0,ham,"Go until jurong point, crazy.. Available only ...",0,0,0,3,3,111,0,0,0,20,1
1,1,ham,Ok lar... Joking wif u oni...,0,0,0,3,2,29,0,0,0,6,1
2,2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,0,3,0,155,2,1,1,28,1
3,3,ham,U dun say so early hor... U c already then say...,0,0,0,4,2,49,2,0,0,11,1
4,4,ham,"Nah I don't think he goes to usf, he lives aro...",0,0,0,1,0,61,1,0,0,13,1

In [3]:
mails.rename(columns = {'Category': 'labels', 'Message': 'message'}, inplace = True)
mails.head()

,Unnamed: 0,labels,message,Emoji,Mathemtical symbols,URL,shorthands,Dot,length,capitals,Num_Phone,Special characters,word_count,mis_spell
0,0,ham,"Go until jurong point, crazy.. Available only ...",0,0,0,3,3,111,0,0,0,20,1
1,1,ham,Ok lar... Joking wif u oni...,0,0,0,3,2,29,0,0,0,6,1
2,2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,0,3,0,155,2,1,1,28,1
3,3,ham,U dun say so early hor... U c already then say...,0,0,0,4,2,49,2,0,0,11,1
4,4,ham,"Nah I don't think he goes to usf, he lives aro...",0,0,0,1,0,61,1,0,0,13,1

In [5]:
mails['label'] = mails['labels'].map({'ham': 0, 'spam': 1})
mails.head()

,Unnamed: 0,labels,message,Emoji,Mathemtical symbols,URL,shorthands,Dot,length,capitals,Num_Phone,Special characters,word_count,mis_spell,label
0,0,ham,"Go until jurong point, crazy.. Available only ...",0,0,0,3,3,111,0,0,0,20,1,0
1,1,ham,Ok lar... Joking wif u oni...,0,0,0,3,2,29,0,0,0,6,1,0
2,2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,0,3,0,155,2,1,1,28,1,1
3,3,ham,U dun say so early hor... U c already then say...,0,0,0,4,2,49,2,0,0,11,1,0
4,4,ham,"Nah I don't think he goes to usf, he lives aro...",0,0,0,1,0,61,1,0,0,13,1,0

In [6]:
mails.drop(['labels'], axis = 1, inplace = True)
mails.head()

,Unnamed: 0,message,Emoji,Mathemtical symbols,URL,shorthands,Dot,length,capitals,Num_Phone,Special characters,word_count,mis_spell,label
0,0,"Go until jurong point, crazy.. Available only ...",0,0,0,3,3,111,0,0,0,20,1,0
1,1,Ok lar... Joking wif u oni...,0,0,0,3,2,29,0,0,0,6,1,0
2,2,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,0,3,0,155,2,1,1,28,1,1
3,3,U dun say so early hor... U c already then say...,0,0,0,4,2,49,2,0,0,11,1,0
4,4,"Nah I don't think he goes to usf, he lives aro...",0,0,0,1,0,61,1,0,0,13,1,0

In [ ]:
spam_words = ' '.join(list(mails[mails['label'] == 1]['message']))
spam_wc = WordCloud(width = 512,height = 512).generate(spam_words)
plt.figure(figsize = (10, 8), facecolor = 'k')
plt.imshow(spam_wc)
plt.axis('off')
plt.tight_layout(pad = 0)
plt.savefig('CloudSpam.png', dpi=800)
plt.show()